DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=a9Nn8QClcnCWHSDq_fAWTTdReGHQuSmw8LlfwWgv8KDDQDo5hKRsnwz4nXJCFQ3_uAQ
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=cozy_reads
POSTGRES_USER=cozy
POSTGRES_PASSWORD=cozy
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL=postgres://cozy:cozy@db:5432/cozy_reads

REDIS_URL=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

CORS_ALLOWED_ORIGINS=http://localhost:3000

# GOOGLE_BOOKS_API_KEY=AIzaSyB5RJyA-Kwxo5AvFcqBHPgBUkeizwjT19A
GOOGLE_BOOKS_API_KEY=

# production-only
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
SENTRY_DSN=
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
